.sideBarMenu {
  border-right: 2px solid #f2f3f5;
  padding-left: 1.5rem;
  padding-right: 2.5rem;
}

.sideBarMenu li {
  list-style-type: none;
  margin-top: 1rem;
}
.sideBarMenu li a {
  text-decoration: none;
  color: rgba(16, 10, 44, 0.8);
  font-size: 1rem;
  font-weight: 500;
}
.sideBarMenu li img {
  margin-right: 1rem;
}

@media screen and (max-width: 950px) {
  .sideBarMenu {
    display: none;
  }
}
